.stand {
    display: flex;
    justify-content: center;
    gap: 132px;
    align-items: center;
    max-width: 1200px;

    padding: 0 15px;
    width: 100%;
    margin: 60.5px auto 30px;
    flex-wrap: wrap;

}

.inputs {
    width: 100%;
    max-width: 372px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

@media screen and  (max-width: 900px){
    .stand {
        gap: 60px;
    }

    .checkboxes {
        margin-left: 0;
    }
}
