.container {
    max-width: 240px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.number {
    display: inline-block;
    min-width: 21px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
